# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# python
env
**/__pycache__
.mypy_cache/

# sql
data/database/database.sqlite3

# misc 
.DS_Store
.gitignore.swp
